html 
{
    font-family: 'Raleway', sans-serif;
}

div
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

#photog1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#ListeP
{
    padding: 0;
    margin: 0; 
}

#li1
{
    margin-left: 50px;
    float: left;
    font-size: 12px;
}

span
{
    color: #0065FC;
}


#Filtre
{
    display: flex;
    margin-right: 65%;
    padding: 10px;

    
}

#backG2
{
    background-color: #DEEBFF;
    width: 35px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
}

#Money
{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;

}

#Money2
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

}

#Eco
{
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    display: flex;
    border: 2px solid #F2F2F2 ;
    padding: 0px;
    margin-right: 15px;
    margin-left: 15px;
}

#backG3
{
    background-color: #DEEBFF;
    width: 35px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
}

#Men
{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;

}

#Men2
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

}


#Fam
{
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    display: flex;
    border: 2px solid #F2F2F2 ;
    padding: 0px;
    margin-right: 25px;
    margin-left: 25px;
}


#backG4
{
    background-color: #DEEBFF;
    width: 35px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
}

#Rom
{
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    display: flex;
    border: 2px solid #F2F2F2 ;
    padding: 0px;
    margin-right: 25px;
    margin-left: 25px;
}

#Heart
{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;

}

#Heart2
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

}

#backG5
{
    background-color: #DEEBFF;
    width: 35px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
}

#Ani
{
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    display: flex;
    border: 2px solid #F2F2F2 ;
    padding: 0px;
    margin-right: 25px;
    margin-left: 25px;
}

#Pet
{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

#Pet2
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    padding-right: 15px;
    padding-left: 15px;

}



#sectionTC
{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
}

#section1
{
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin-right: 15%;
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

#section1 figure
{
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    width: 30%;
    border: 5px solid white;
    box-sizing: border-box;
}

#section1 figcaption
{
    margin-left: 5%;
    margin-bottom: 5%;
}


#section1 #Images1
{
    width: 100%;
    height: 110px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}


#section2
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 40%;
    padding-left: 10px;
    padding-top: 20px;
    margin-right: 1px;
}


#section2 figure
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5%;
    margin-top: 5%;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    width: 90%;
}

#section2 figcaption
{
    margin-left: 5%;
    margin-bottom: 5%;
}

#section2 #Images1
{
    width: 100px;
    height: 120px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    
}

#section2 h2
{
    margin-left: 5%;
}


#section3
{
    padding-top: 3%;
}

#section3 h3
{
    margin-left: 10px;
}

#photoG3
{
    width: 100%;
}

#S3
{
    display: flex;
    flex-direction: column;
}

#section3 figure
{
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #F2F2F2;
}


#Images2
{
    width: 200px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}

#Images3
{
    width: 180px;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}

#photo1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: top;

}




#LogoR
{
    width: auto;
    height: auto;
}

h1
{
    font-size: 17px;
}

h2
{
    font-size: 17px;
}

h3
{
    font-size: 12px;
}

p
{
    font-size: 12px;
}

i
{
    color: #0065FC;
}

#iblack1
{
    color: black;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

#backg
{
    background-color: #F2F2F2;
    width: 35px;
    height: 35px;
    border-radius: 10px 0px 0px 10px;
}

#iblack2
{
    color: black;
    padding-left: 20%;
}

#Rechercher
{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: #0065FC;
}

form
{
    display: flex;
    height: 35px;
}

footer
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color:#F2F2F2 ;
    padding-left: 30px;
    padding-top: 30px;
    height: 200px;
    line-height: 30px;
}


#footertext
{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    font-size: 13px;
    align-items: flex-start;
 
}


/* Media queries */

@media (max-width: 720px)
{
    #Filtre
    {
        flex-wrap: wrap;
    }

    #sectionTC
    {
        flex-wrap: wrap-reverse;
    }
    
    #section1
    {
        width: 100%;
        margin: auto;
    }

    #section1 figure
    {
        width: 100%;
    }

    #section2
    {
        width: 100%;
        margin-bottom: 20px;
    }

    #section3
    {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    #photoG3
    {
        flex-wrap: wrap;
    }

    #photoG3 figure 
    {
        width: 100%;
        margin: auto;
        margin-top: 40px;
    }

    #Images2
    {
        height: 150px;
        width: 100%;
    }

    #Images3
    {
        width: 100%;
        height: 150px;
    }

    footer
    {
        flex-direction: column;
        height: auto;
    }

    b
    {
        align-items: flex-start;
    }

}

@media (min-width: 721px) and (max-width: 1079px)
{
    #Filtre
    {
        flex-wrap: wrap;
        width: 100%;
    }

    #sectionTC 
    {
        flex-direction: column;
    }

    #section2
    {
        flex-direction: row;
        width: 100%;
        margin-top: 20px;
        
    }

    #section2 figure
    {
        width: 20%;
        flex-direction: column;
    }

    #section2 #Images1 
    {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        margin: auto
    }

    #section2 h2
    {
        margin: auto
    }

    #section3
    {
        width: 100%;
    }

    #photoG3
    {
        flex-wrap: wrap;
        width: 77.5%;
    }

    #footertext 
    {
        margin-right: auto;
    }

    
}